body {
    background-color: rgb(43, 144, 226);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 25px;
}
h1 {
    font-family: 'Narum Pen Script', cursive;
    text-align: center;
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    font-family: 'Narum Pen Script', cursive;
    text-align: center;
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3 {
    font-family: 'Narum Pen Script', cursive;
    text-align: center;
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}
p {
    font-family: 'Narum Pen Script', cursive;
    text-align: center;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul {
    font-family: 'Narum Pen Script', cursive;
    text-align: center;
    list-style-position: inside;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}
ol {
  font-family: 'Narum Pen Script', cursive;
  text-align: center;
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
}